.form-control {
	width: 400px;
	height: 60px;
	margin-top: 10px;
	font-size: 18px;
}

.join_btn {
	width: 400px;
	height: 60px;
	font-size: 18px;
	color: white;
	font-weight: bold; 
	 margin-top:20px;
	background-color: #7f7f7f;
}