@charset "UTF-8";
.main-content{
    display: block;
    position: relative;
    margin-left: 100px;
    height: 100vw;
    width: calc(100vw - 100px);
    z-index: 50; 

}
.choose{
	display:flex;
	position: relative;
	margin-top: 50px;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	}
.title{
	/* display: block; */
}
/* .half{
	display: flex;
	position:relative;
	width: 50%;
	justify-content: center;
}
.half-img{
	margin-top: 10%;
	max-width: 50%;
	height: auto;
} */
body{
	/* overflow: hidden; */
	padding: 0;
	margin: 0;
}
.title{
	width: 80%;
	margin-left: 10%;
}
button.updown{
	float: right;
}
@media (max-width: 768px){
	.main-content{
		margin-left: 0;
	}
}