@charset "UTF-8";
.main-content{
    display: block;
    position: relative;
    margin-left: 100px;
    height: max-contents;
    width: calc(100vw - 100px);
    z-index: 50; 

}
.choose{
	display:flex;
	position: relative;
	margin-top: 50px;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;

	}
.title{
	/* display: block; */
}
/* .half{
	display: flex;
	position:relative;
	width: 50%;
	justify-content: center;
}
.half-img{
	margin-top: 10%;
	max-width: 50%;
	height: auto;
} */
body{
	/* overflow: hidden; */
	padding: 0;
	margin: 0;
}
.title{
	width: 80%;
	margin-left: 5%;
/* 	font-size: 30px; */
	border-bottom: 1px solid rgba(0,0,0,.2);
}
button.delete{
	float: right;
	border: none;
	background-color: white;
	margin-right: 10px;
}
button.updown{
	float: right;
}

.list_box{
	margin-bottom: 20px;
}
.trashimg{
	height: 16px;
	width: auto;
}
.lis{
	
	display: block;
	position: relative;
	justify-content: center;
}
@media (max-width: 768px){
	.main-content{
		margin-left: 0;
	}
	.main-content{
	 width:100vw;
	 }
	 .title{
	 width: 95%;
	 margin-left: 0;
	 }
	 
}
button.updown{
	background-color: white;
	border: none;
	border-radius: 5%;
}
.colore_list{
	position: relative;
	display: inline-block;
}
.delete{
	float:right;
}

.jjim_img{
	width: 20vw;
	height: auto
}
.eeun-ae{
	display: inline-block;
	position: relative;
	vertical-align: top;
	
}
.jjim_img_list{
	
	width: max-content;
	height: max-content;
}
.jjim_text_list{
	
	width: auto;
}
.palette{
	width: 6vw;
	height: 6vw;
	border-radius:50%; 	
	margin-right: 10px;
	border: 0.7vw solid #f1f5fc;
	
}
.inpalette{
	margin-top:5px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
	
}
.palette-name{
	margin-top: 5px;
}
.point{
	display: flex;
	flex-direction:column;
	margin-right: 10px;
	margin-bottom: 10px;
}

input[type='checkbox']{
	margin-top: 3vw;
	padding-right: 20px;
}

.check{
	margin-right: 10px;
	display: flex;
	flex-direction: row;
}
.list-full{
	width: auto;
	height: auto;
	max-height: 500px;
	overflow: auto;
}
.cl1{
	margin-left: 10px;
}
input[type='text']{
	display:none;
}
