<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ev.model.WishListMapper">
    
    <select id="wishlist" resultType="kr.ev.model.PaletteVO">
        select * from t_palette where m_email=#{m_email};
    </select>
     <select id="wishlist" resultType="kr.ev.model.ProductVO">
        select * from t_product;
    </select>
    <delete id="pwish_delete" parameterType="kr.ev.model.PaletteVO">
        delete from t_palette where pl_seq=#{delete_seq};
       
    </delete>
</mapper>